/* #box${Box$}*4 */
body{
    text-align: center;
}
.innerdiv{
    border:2px solid black;
    height: 100px;
    width: 200px;
    display: inline-block;
}
/* #box2{ */
    /* padding-top: 20px; */
/* } */
.container{
    border:4px solid black;
    width: 600px;
    height: 600px;
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    flex-direction: row;
    justify-content: center;
    /* aligns the flex box item along the main axis which is horizontal incase of flex-direction-row */
    /* justify-content: flex-end; */
    /* align towards the end of the container with respect to main axis */
    /* justify-content: space-around; */
    /* justify-content: space-between; */

    /* flex-direction: column; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* align-items: baseline; */
    /* align-items: center; */
    /* align-items: flex-start; */
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
   
}